<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <!--<%= render @users %>-->
    <li>
			<%= gravatar_for user, :size => 30 %>
			<%= link_to user.name, user %>
			<% if current_user.admin? %>
			| <%= link_to "delete", user, :method => :delete, 
																		:confirm => "You sure?",
																		:title => "Delete #{user.name}" %>
			<% end %>
		</li>
  <% end %>
</ul>

<%= will_paginate %>
